<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Forgot password ?</h3>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <div class="mb-3">
                <label for="forgotPasswordEmail" class="form-label">Account Email</label>
                <input type="email"
                       class="form-control" 
                       id="forgotPasswordEmail" 
                       placeholder="Enter username"
                       name="forgotPasswordEmail"
                       ngModel
                       #forgotPasswordEmail="ngModel"
                       >
            </div>
            
            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i>Reset Password</button>
        </form>

    </div>
</div>