<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Login</h3>
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()"  novalidate>
            
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input formControlName="email" type="text" required>                       
              </div>
              
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input formControlName="passwd">
              
            </div>
            <div class="mb-3 form-check">
                <a [routerLink]="['/forgot-password']">Forgot password</a>
            </div>
            <button [disabled]="formLogin.invalid" type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i>Login</button>
            
          </form>
          
    </div>
</div>